@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-skew {
  transform: skewX(-25deg);
  transform-origin: bottom right;
}

.reverse-custom-skew {
  transform: skewX(25deg);
  transform-origin: bottom right;
}

h1 {
  font-family: 'megavolt', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: 'citrus-gothic-rough', 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
}